html {
    overflow-x: hidden;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Bangers", sans-serif;
    background-image: url(https://images.pexels.com/photos/1694000/pexels-photo-1694000.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

#heading {
    text-align: center;
    transform: translateX(0.7em);
    position: relative;
    top: 0.5em;
    font-size: 5em;
    letter-spacing: 0.15em;
    color: rgb(162, 255, 0);
    margin-bottom: 1.3em;
    transition: all 0.3s;
    display: block;
}

#heading:hover {
    letter-spacing: 1.5em;
    color: #14ffdc;
    transform: translateX(1.5em) scale(1.2);
}

#images-left {
    opacity: 0.6;
    float: left;
}

#images-left:hover,
#images-right:hover {
    opacity: 1;
}

#num1 {
    position: relative;
    left: 5em;
    top: 5em;
    transform: rotate(20deg);
    animation: comeLeft 1s ease-out 0.5s;
    animation-fill-mode: backwards;
}

#num3 {
    position: relative;
    left: 10em;
    top: 20em;
    transform: rotate(-20deg);
    animation: comeLeft 1s ease-out 1.7s;
    animation-fill-mode: backwards;
}

#num5 {
    position: relative;
    right: 5em;
    top: 30em;
    transform: rotate(20deg);
    animation: comeLeft 1s ease-out 2.9s;
    animation-fill-mode: backwards;
}

#images-right {
    opacity: 0.6;
    float: right;
}

#num2 {
    position: relative;
    left: 5em;
    top: 5em;
    transform: rotate(20deg);
    animation: comeRight 1s ease-out 0.5s;
    animation-fill-mode: backwards;
}

#num4 {
    position: relative;
    right: 7em;
    top: 20em;
    transform: rotate(-20deg);
    animation: comeRight 1s ease-out 1.7s;
    animation-fill-mode: backwards;
}

#num9 {
    position: relative;
    right: 5em;
    top: 30em;
    transform: rotate(20deg);
    animation: comeRight 1s ease-out 2.9s;
    animation-fill-mode: backwards;
}

@keyframes comeLeft {
    0% {
        transform: translateX(-1030px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes comeRight {
    0% {
        transform: translateX(1300px);
    }
    100% {
        transform: translateX(0);
    }
}

#below-heading-tile {
    position: relative;
    left: 25em;
}

.btn {
    font-family: "Teko", sans-serif;
    background-color: rgba(82, 81, 81, 0.118);
    color: rgba(255, 255, 255, 0.816);
    transition: all 0.3s;
    border-radius: 0.9em;
}

.btn:hover {
    background-color: white;
    color: #000000;
}

.btn:active {
    transform: scale(0.95);
}

#new-game {
    z-index: 10;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: bolder;
    position: absolute;
    left: 6em;
    top: 0.5em;
    width: 6em;
    height: 2.5em;
    text-transform: uppercase;
    float: left;
}

#time,
#moves {
    font-size: 1.1em;
    font-family: "Teko", sans-serif;
    font-weight: bolder;
    color: #fff;
    float: left;
}

#time {
    position: absolute;
    left: 24em;
}

#time-tittle,
#moves-tittle {
    color: rgb(156, 151, 151);
    font-size: 1.2em;
    letter-spacing: 0.08em;
    transition: all 0.2s;
}

#time-tittle:hover,
#moves-tittle:hover {
    color: aquamarine;
}

#time-count {
    position: relative;
    top: 1.5em;
    right: 1em;
    font-size: 1.5em;
}

#moves {
    position: absolute;
    left: 30em;
}

#moves-count {
    position: relative;
    top: 1.5em;
    right: 1em;
    font-size: 1.5em;
}

#puzzle-container {
    width: 500px;
    height: 500px;
    padding: 15px;
    margin: 5px 0px;
    position: relative;
    top: 6em;
    left: 15em;
    z-index: 0;
    overflow: hidden;
}

#pause-icon{
    opacity: 0;
    z-index: 10;
    width:6em;
    position: absolute;
    top:35em;
    left:50%;
    transition: all 0.3s;
}

#pause-icon:hover{
    transform: scale(1.05);
}

#pause-icon:active{
    transform: scale(0.95);
}

#pause-btn {
    text-transform: uppercase;
    letter-spacing: 0.04em;
    font-weight: bolder;
    position: relative;
    left: 17em;
    top: 4em;
    width: 470px;
    height: 2em;
    font-size: 2em;
    margin-bottom: 1em;
}

#pause-btn:disabled{
    cursor: not-allowed;
}

#instruction {
    width:470px;
    color: rgba(119, 119, 119, 0.602);
    font-size: 2.5em;
    position: relative;
    top: 3em;
}

.arrow {
    float: left;
    border-radius: 0.3em;
    border: 0.07em solid rgba(119, 119, 119, 0.311);
    transition: all 0.2s;
}

.arrow:hover {
    border: 0.07em solid #14ffdc;
    color: #14ffdc;
}

#up {
    width:1em;
    height:1em;
    text-align: center;
    padding-bottom: 3px;
    position: relative;
    left: 15.1em;
    animation: blink 1s ease-out 0.5s;
}

#down {
    width:1em;
    height:1em;
    text-align: center;
    padding-bottom: 3px;
    transform: rotate(180deg);
    position: relative;
    top: 1.6em;
    left: 14em;
    animation: blink 1s ease-out 1.1s;
}

#left {
    width:1em;
    height:1em;
    text-align: center;
    padding-bottom: 3px;
    transform: rotate(-90deg);
    position: relative;
    top: 1.6em;
    left: 11.5em;
    animation: blink 1s ease-out 1.4s;
}

#right {
    width:1em;
    height:1em;
    text-align: center;
    padding-bottom: 3px;
    transform: rotate(90deg);
    position: relative;
    top: 1.6em;
    left: 13.1em;
    animation: blink 1s ease-out 0.8s;
}

#up:active{
    transform: scale(0.95);
}

#down:active{
    transform: rotate(180deg) scale(0.95);
}

#left:active{
    transform: rotate(-90deg) scale(0.95);
}

#right:active{
    transform: rotate(90deg) scale(0.95);
}

@keyframes blink {
    0% {
        border: 0.07em solid #14ffdc;
        color: #14ffdc;
    }
    100% {
        border: 0.07em solid rgba(119, 119, 119, 0.311);
        color: rgba(119, 119, 119, 0.311);
    }
}

#instruction-text {
    font-family: "Teko", sans-serif;
    position: relative;
    left: 20em;
    top: 0.2em;
    line-height: 1.2em;
    font-size: 0.8em;
    letter-spacing: 0.05em;
    transition: all 0.2s;
}

#instruction-text:hover {
    color: #14ffdc;
}

#footer {
    position: relative;
    top: 13em;
    left: 35em;
}

.social-id {
    float: left;
}

.fa-github {
    color: #777;
    position: relative;
    left: 5em;
    bottom: 0.42em;
    transition: all 0.5s;
}

.fa-github:hover {
    color:#14ffdc;
}

.fa-linkedin-square {
    color: #777;
    position: relative;
    left: 7.2em;
    bottom:0.3em;
    transition: all 0.2s;
}

.fa-linkedin-square:hover:hover {
    color:#14ffdc;
}

.fa-facebook {
    color: #777;
    position: relative;
    left: 5em;
    bottom: 0.3em;
    transition: all 0.5s;
}

.fa-facebook:hover {
    color:#14ffdc;
}

.number{
    font-family: "Bangers",sans-serif;
    font-size: 7em;
    width:150px;
    height:150px;
    color:black;
    border-radius: 0.35em;
    border: none;
    animation: popUp 0.75;
    float: left;
    margin: 8px;
    animation-timing-function: cubic-bezier(0.215,0.61,0.355,1);
}

#dig9{
    background-color: rgb(208, 80, 29);
}

.digit{
    z-index: 99;
    position: relative;
    top:10px;
    left: 40px;
}

#dig1,#dig2,#dig3,#dig4,#dig5,#dig6,#dig7,#dig8{
    background-color:rgb(162, 255, 0);
}

@keyframes popUp{
    0%{
        opacity: 0;
        transform: scale3d(0, 0, 0);
    }
    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }
    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

